.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /* height: 50px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.504);
    text-align: center;
    color: #000;
    margin-bottom: 20px;
  }
.header--items{
    display: flex;
    gap: 30px;
  }
.header--items li{
    list-style: none;
}
.Logo{
  font-size: 30px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
.header--items li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    transition: all 0.2s;
}
.header--items li a:hover{
  color: #fff;
  background-color: #000;
}